<section class="container-fluid job_component">
    <div class="container">
        <app-header></app-header>
    </div>
</section>

<app-search-jobs *ngIf="store.filterJobs.length"></app-search-jobs>

<section class="animated fadeIn jobs_container container-fluid">
    <!--  ui loading form -->
    <div class="container inner">
        <div class="wrapper row">
            <div class="filter block col-md-3">
                <div class="block_inner">
                    <div class="ui accordion">
                        <div class="title active">
                            <i class="dropdown icon"></i> Country
                        </div>
                        <div class="content active">

                            <ul>
                                <li>
                                    <div class="ui checkbox">
                                        <input [(ngModel)]="isCountrySelectAll" (change)="countrySelectAll()" type="checkbox" name="country">
                                        <label>All</label>
                                    </div>
                                </li>
                                <li *ngFor="let item of countyList">
                                    <div class="ui checkbox">
                                        <input (change)="onFilterClick()" [(ngModel)]="store.currentCuntries[item]" type="checkbox" name="country">
                                        <label>{{item}}</label>
                                    </div>
                                </li>
                                <li class="select_more">
                                    <div class="ui form">
                                        <div class="field">
                                            <select>
									      <option value="">Select More</option>
									      <option value="1">UAE</option>
									      <option value="0">Ireland</option>
									    </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="title active">
                            <i class="dropdown icon"></i> City
                        </div>
                        <div class="content active">

                            <ul>
                                <li>
                                    <div class="ui checkbox">
                                        <input [(ngModel)]="isCitySelectAll" (change)="citySelectAll()" type="checkbox" name="country ">
                                        <label>All</label>
                                    </div>
                                </li>
                                <li *ngFor="let item of cityList">
                                    <div class="ui checkbox">
                                        <input (change)="onFilterClick()" [(ngModel)]="store.currentCities[item]" type="checkbox" name="country">
                                        <label>{{item}}</label>
                                    </div>
                                </li>

                                <li class="select_more">
                                    <div class="ui form">
                                        <div class="field">
                                            <select>
									      <option value="">Select More</option>
									      <option value="1">Dubai</option>
									      <option value="0">Bangkok</option>
									    </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i> Job Role
                        </div>
                        <div class="content">

                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i> Industry
                        </div>
                        <div class="content">

                        </div>
                    </div>
                    <button (click)="reset()" class="ui button reset_filter">Reset Filter</button>
                </div>
            </div>
            <div class="jobs_list block  col-md-6 padding0">
                <div class="block_inner">
                    <ul>
                        <li *ngFor="let job of store.getJobs(page)" class="job animated fadeIn">
                            <div class="head">
                                <h3 [routerLink]="'/jobs/view-job/'+job.id">
                                    {{job.title}} - {{job.location}}
                                </h3>
                                <div class="date">{{job.close_date}}</div>

                                <div class="company_details">
                                    <div class="company_details_inner">
                                        <span class="company_name" (click)="filterByCompanyName(job.company_name)">{{job.company_name}}</span>
                                        <span class="company_location">
											<i class="city">{{job.location}}</i>, 
											<i class="country">{{job.residence_location}}</i>
										</span>
                                    </div>
                                    <div class="company_logo">

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="body">
                                {{job.description}}
                            </div>
                        </li>
                    </ul>

                    <button (click)="backPage()">
                        back
                    </button>
                    <span>{{page+1}}</span>
                    <button (click)="nextPage()">
                        next
                    </button>
                </div>

            </div>
            <div class="google_adds block hidden-xs-down hidden-sm-down col-md-3">
                <div class="block_inner">
                    <h3>Google Ads</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>