 <section class="container-fluid job_component">
 	<div class="container">
		<app-header></app-header>
	</div> 
</section>
<app-search-jobs></app-search-jobs>
<section class="jobs_container container-fluid">  <!--  ui loading form -->
	<div class="container inner">
		<div class="wrapper row">
			<div class="filter block col-md-3">
				<div class="block_inner">
					<div class="ui accordion">
					  <div class="title active">
					    <i class="dropdown icon"></i>
					   	 Country
					  </div>
					  <div class="content active">
					    	
					    	<ul>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>All</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>Sri Lanka</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>India</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>Australia</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>England</label>
									</div>
					    		</li>
					    		<li class="select_more">
					    			<div class="ui form">
									  <div class="field">
									    <select>
									      <option value="">Select More</option>
									      <option value="1">UAE</option>
									      <option value="0">Ireland</option>
									    </select>
									  </div>
									</div>
					    		</li>
					    	</ul>

					  </div>
					  <div class="title active">
					    <i class="dropdown icon"></i>
					   	 City
					  </div>
					  <div class="content active">
					    	
					    	<ul>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>All</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>Colombo</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>Delhi</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>Melbourne</label>
									</div>
					    		</li>
					    		<li>
					    			<div class="ui checkbox">
									  	<input type="checkbox" name="country">
									  	<label>London</label>
									</div>
					    		</li>
					    		<li class="select_more">
					    			<div class="ui form">
									  <div class="field">
									    <select>
									      <option value="">Select More</option>
									      <option value="1">Dubai</option>
									      <option value="0">Bangkok</option>
									    </select>
									  </div>
									</div>
					    		</li>
					    	</ul>

					  </div>
					  <div class="title">
					    <i class="dropdown icon"></i>
					    Job Role
					  </div>
					  <div class="content">
					     
					  </div>
					 
					<div class="title">
					    <i class="dropdown icon"></i>
					    Industry
					  </div>
					  <div class="content">
					     
					  </div>
					</div>
					 <button class="ui button reset_filter">Reset Filter</button>
				</div>  
			</div>
			<div class="jobs_list block  col-md-6 padding0">
				<div class="block_inner">
					<ul>
						<li class="job" routerLink="/jobs/view-job/1">
							<div class="head">
								<h3>Cluster Sales Executive - Corporate City</h3>
								<div class="date">31/03/2018</div>

								<div class="company_details">
									<div class="company_details_inner">
										<span class="company_name">Jumeirah Group</span>
										<span class="company_location">
											<i class="city">Dubai</i>, 
											<i class="country">United Arab Emirates</i>
										</span> 
									</div> 
									<div class="company_logo">
										
									</div>
								</div>

								<div class="clearfix"></div>
							</div>
							<div class="body">
								An opportunity has arisen for a Cluster Sales Executive – Corporate City to join the Commercial Department in Dubai Shared Services. The main duties and responsibilities of this role :  .........
							</div>
						</li>

						<li class="job">
							<div class="head">
								<h3>Customer Service Executive (Saudi Only)</h3>
								<div class="date">31/03/2018</div>

								<div class="company_details">
									<div class="company_details_inner">
										<span class="company_name">Confidential Company</span>
										<span class="company_location">
											<i class="city">Jeddah</i>, 
											<i class="country">Saudi Arabia</i>
										</span> 
									</div> 
									<div class="company_logo">
										
									</div>
								</div>

								<div class="clearfix"></div>
							</div>
							<div class="body">
								An opportunity has arisen for a Cluster Sales Executive – Corporate City to join the Commercial Department in Dubai Shared Services. The main duties and responsibilities of this role :  .........
							</div>
						</li>

					</ul>
				</div> 
			</div>
			<div class="google_adds block hidden-xs-down hidden-sm-down col-md-3">
				<div class="block_inner">
					<h3>Google Ads</h3>
				</div> 
			</div>
		</div> 
	</div>
</section>
<app-footer></app-footer>