<section class="container-fluid dashbaoard">
    <div class="container">
        <app-header></app-header>
    </div>
</section>
<app-search-jobs></app-search-jobs>
<section class="container-fluid  jobseeker_dashbaord">
    <div class="container inner">
        <div class="row wrapper">
            <div class="title">
                <h2>Hello <span *ngIf="authStore">{{authStore.auth.name}}</span></h2>
                <p>From your account dashboard you can view and edit your resume, View applied jobs, <br/>recommended jobs and edit your account details.</p>
                <div class="action_btn">
                    <button class="ui button">Account Settings</button>
                </div>
            </div>
            <div class="body">
                <div class="row row_">
                    <div class="col-md-6 col-sm-12 my_resume block">
                        <div class="my_resume_inner">
                            <h3>Resume</h3>
                            <img src="assets/Resume-Snap.jpg" alt="">
                            <ul class="action_btns">
                                <li [routerLink]="'/cv-view/'+userID">View</li>
                                <li routerLink="/cv-builder">Edit</li>
                                <li>Delete</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 applied_jobs block">

                        <div class="applied_jobs_inner">

                            <h3>Applied Jobs</h3>

                            <table class="ui fixed single line celled table">
                                <div *ngIf="!applyJoblist" class="ui active dimmer animated zoomIn">
                                    <div class="ui large text loader">Loading data</div>
                                </div>
                                <thead>
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Date Applied</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="applyJoblist">
                                    <tr *ngFor="let job of applyJoblist" [routerLink]="'/jobs/view-job/'+job.job_id">
                                        <td>{{job.title}}</td>
                                        <td>{{job.date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="google_ads col-md-12">
                    <h3>Google Ads</h3>
                </div>


                <div class="row row_">
                    <div class="similer_jobs col-md-12 jblock">
                        <h3>Apply to similer jobs</h3>
                        <ul>
                            <li class="sm_jobs">
                                <div class="icon">

                                </div>
                                <div class="job_details">
                                    <span class="title">Software Engineer</span>
                                    <span class="company">Virtusa</span>
                                    <span class="location">Colombo, Sri Lanka</span>

                                </div>
                            </li>
                            <li class="sm_jobs">
                                <div class="icon">

                                </div>
                                <div class="job_details">
                                    <span class="title">Web Content Engineer</span>
                                    <span class="company">Virtusa</span>
                                    <span class="location">Colombo, Sri Lanka</span>

                                </div>
                            </li>
                            <li class="sm_jobs">
                                <div class="icon">

                                </div>
                                <div class="job_details">
                                    <span class="title">Senior Software Engineer</span>
                                    <span class="company">Virtusa</span>
                                    <span class="location">Colombo, Sri Lanka</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>