<section class="container-fluid post_job">
    <div class="container">
        <app-header></app-header>
    </div>
</section>
<app-search-cv></app-search-cv>


<section class="post_job_container container-fluid">
    <div class="container inner">
        <div class="job_form wrapper row">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="ui form">
                <h2>Post a Job</h2>
                <div class="row">
                    <div class="col-md-8 inline_feilds">
                        <div class="field">
                            <input type="text" class="job_title" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.title" name="company-name" placeholder="Job Title">
                        </div>
                        <div class="field divider job_category">
                            <label>Job Category</label>
                            <select class="category" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.job_category">
						                </select>
                            <select class="designation"></select>
                        </div>
                        <div class="field">
                            <label>Company Name</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.company_name" name="company-name" placeholder="Company Name">
                        </div>
                        <div class="field">
                            <label>Location</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.location" name="Location" placeholder="Location">
                        </div>
                        <div class="field">
                            <label>Application Email</label>
                            <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.email" name="Application Email" placeholder="Application Email">
                        </div>
                        <div class="field">
                            <label>Closing Date</label>
                            <!-- <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.close_date" name="Closing Date" placeholder="Closing Date"> -->

                            <div class="ui calendar" id="example1">
                                <div class="ui input right icon">
                                    <i class="fa fa-calendar icon"></i>
                                    <input type="text" placeholder="Closing Date">
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Salery Range</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.salery_range" name="Salery Range" placeholder="Salery Range">
                        </div>
                    </div>
                    <div class="col-md-4 file_upload">
                        <div class="file_upload_wrapper">
                            <input type="file" class="file_upload_input" name="company-name" placeholder="Job Title">
                            <div class="content">
                                <div class="inner_content">
                                    <h3>Company Logo <i class="icon fa fa-cloud-upload" aria-hidden="true"></i></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row secondary_row">
                    <div class="col-md-12 inline_feilds">
                        <div class="field full_label divider">
                            <h3>Job Description</h3>
                            <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="job.description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row secondary_row">
                    <div class="col-md-8 inline_feilds">

                        <h3>Preferred Candidate</h3>

                        <div class="field">
                            <label>Career Level</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.career_level" name="career-level" placeholder="Career Level">
                        </div>
                        <div class="field">
                            <label>Years of Experience</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.years_of_experience" name="years-of-experience" placeholder="Years of Experience">
                        </div>
                        <div class="field">
                            <label>Residence Location</label>
                            <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.residence_location" name="Application Email" placeholder="Residence Location">
                        </div>
                        <div class="field">
                            <label>Gender</label>
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="job.gender">
						      	<option value="Male">Male</option>
						      	<option value="Female">Female</option> 
						    </select>
                        </div>

                        <div class="field">
                            <label>Degree</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.degree" name="degree" placeholder="Degree">
                        </div>

                        <div class="field">
                            <label>Age</label>
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="job.age" name="age" placeholder="Age">
                        </div>
                    </div>
                </div>

                <div class="row secondary_row">
                    <div class="col-md-12 inline_feilds">
                        <div class="field full_label divider">
                            <h3>Qualifications &amp; Skills</h3>
                            <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="job.skills"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row secondary_row">
                    <div class="col-md-12 inline_feilds">
                        <div class="field full_label">
                            <h3>Benefits</h3>
                            <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="job.benifits"></textarea>
                        </div>
                    </div>
                </div>
                <div class="secondary_row">
                    <button class="ui button" (click)="onPreview()" type="button">Preview</button>
                    <button class="ui button" type="submit">Post Job</button>
                </div>
            </form>

        </div>
    </div>
</section>
<app-footer></app-footer>