 <section class="container-fluid post_job">
 	<div class="container">
		<app-header></app-header>
	</div> 
</section>
<app-search-cv></app-search-cv>

<section class="post_job_container container-fluid"> 
	<div class="container inner">
		<div class="job_form wrapper row"> 
			<form class="ui form">
				<h2>Post a Job</h2> 
				<div class="row">
					<div class="col-md-8 inline_feilds">
						<div class="field"> 
						    <input type="text" class="job_title" name="company-name" placeholder="Job Title">
					  	</div>
					  	<div class="field divider job_category">
						    <label>Job Category</label>
						     <select class="category">
						      	<option value="">IT</option>
						      	<option value="1">Accounts</option>
						      	<option value="0">Tourism</option>
						    </select>

						    <select class="designation">
						      	<option value="">Software Engineer</option>
						      	<option value="1">IT Technician</option>
						      	<option value="0">Graphic Designer</option>
						    </select>
					  	</div>
					  	<div class="field">
						    <label>Company Name</label>
						    <input type="text" name="company-name" placeholder="Company Name">
					  	</div>
					  	<div class="field">
						    <label>Location</label>
						    <input type="text" name="Location" placeholder="Location">
					  	</div>
					  	<div class="field">
						    <label>Application Email</label>
						    <input type="email" name="Application Email" placeholder="Application Email">
					  	</div>
					  	<div class="field">
						    <label>Closing Date</label>
						   	<div class="ui calendar" id="example1">
						    	<div class="ui input right icon">
						      		<i class="fa fa-calendar icon"></i>
						      		<input type="text" placeholder="Closing Date">
						    	</div>
						  	</div>
					  	</div>

					  	<div class="field">
						    <label>Salery Range</label>
						    <input type="text" name="Salery Range" placeholder="Salery Range">
					  	</div> 
					</div>
					<div class="col-md-4 file_upload">
						<div class="file_upload_wrapper">
							<input type="file" class="file_upload_input" name="company-name" placeholder="Job Title">
							<div class="content">
								<div class="inner_content">
									<h3>Company Logo <i class="fa fa-cloud-upload icon" aria-hidden="true"></i></h3>
								</div>
								
							</div>
						</div>
						<div class="job-contaienr">
							 
						</div>
					</div>
				</div>
				<div class="row secondary_row">
					<div class="col-md-12 inline_feilds">
						<div class="field full_label divider"> 
					  		<h3>Job Description</h3>
						    <textarea></textarea>
					  	</div>
					</div>
				</div>

				<div class="row secondary_row">
					<div class="col-md-8 inline_feilds"> 

						<h3>Preferred Candidate</h3> 

					  	<div class="field">
						    <label>Career Level</label>
						    <input type="text" name="career-level" placeholder="Career Level">
					  	</div>
					  	<div class="field">
						    <label>Years of Experience</label>
						    <input type="text" name="years-of-experience" placeholder="Years of Experience">
					  	</div>
					  	<div class="field">
						    <label>Residence Location</label>
						    <input type="email" name="Application Email" placeholder="Residence Location">
					  	</div>
					  	<div class="field">
						    <label>Gender</label>
						    <select>
						      	<option value="">Male</option>
						      	<option value="1">Female</option> 
						    </select>
					  	</div>

					  	<div class="field">
						    <label>Degree</label>
						    <input type="text" name="degree" placeholder="Degree">
					  	</div> 

					  	<div class="field">
						    <label>Age</label>
						    <input type="text" name="age" placeholder="Age">
					  	</div>
					</div>
				</div>

				<div class="row secondary_row">
					<div class="col-md-12 inline_feilds">
						<div class="field full_label divider"> 
					  		<h3>Qualifications &amp; Skills</h3>
						    <textarea></textarea>
					  	</div>
					</div>
				</div>

				<div class="row secondary_row">
					<div class="col-md-12 inline_feilds">
						<div class="field full_label"> 
					  		<h3>Benefits</h3>
						    <textarea></textarea>
					  	</div>
					</div>
				</div>
				<div class="secondary_row">
					<button class="ui button" type="button">Preview</button>
			  		<button class="ui button" type="submit">Post Job</button>
				</div> 
			</form>

		</div>
	</div>
</section>
<app-footer></app-footer>