<section class="container-fluid dashbaoard">
    <div class="container">
        <app-header></app-header>
    </div>
</section>

<section class="container-fluid" style="height: 60vh">4
    <div *ngIf="!isViewOptions" class="ui active dimmer animated fadeIn">
        <div class="ui large text loader">Loading data</div>
    </div>
    <div *ngIf="isViewOptions" class="secondary_row" align="center">
        <div class="container inner">
            <div class="col-4">
                <div class="row" align="center">
                    <h2 class="title" align="center">
                        Please choose your role
                    </h2>
                </div>
                <div class="row" align="center">

                    <button (click)="onSelectRole(ROLES.EMPLOYEE)" style="height: 30vh" class="ui button">
                        <i class="fas fa-users"></i> <br/>
                        I'm a employee
                    </button>
                    <button (click)="onSelectRole(ROLES.JOB_SEEKER)" style="height: 30vh" class="ui button">
                        <i class="fas fa-user"></i><br/>
                        I'm a Job Seeker
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>