<h3>CV Header</h3>

<form action="" class="ui form">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="cv.UserData.name">
    </div>

    <div class="field">
        <label for="address">Address</label>
        <textarea name="address" [(ngModel)]="cv.UserData.address"></textarea>
    </div>

    <div class="field">
        <label for="phone">Phone</label>
        <input type="text" name="phone" [(ngModel)]="cv.UserData.phone">
    </div>

    <div class="field">
        <label for="mobile">Mobile</label>
        <input type="text" name="mobile" [(ngModel)]="cv.UserData.mobile">
    </div>

    <div class="field">
        <label for="email">email</label>
        <input type="email" name="email" [(ngModel)]="cv.UserData.email">
    </div>

</form>