<h3>CV Header</h3>

<form action="" class="ui form">
	<div class="field">
		<label for="name">Name</label>
 		<input type="text" name="name" [(ngModel)]="UserData.name">
 	</div>

 	<div class="field">
	    <label for="address">Address</label>
	    <textarea name="address" [(ngModel)]="UserData.address"></textarea>
	</div>

	<div class="field">
	    <label for="phone">Phone</label>
	    <input type="text" name="phone" [(ngModel)]="UserData.phone">
	</div>

	<div class="field">
	    <label for="mobile">Mobile</label>
	    <input type="text" name="mobile" [(ngModel)]="UserData.mobile">
	</div>

	<div class="field">
	    <label for="email">email</label>
	    <input type="email" name="email" [(ngModel)]="UserData.email">
	</div>
 
 </form>