 <section class="container-fluid sign-up">
 	<div class="container">
		<app-header></app-header>

		<div class="row">
			<div class="sign_up block wow fadeInUp">
				<h2>Sign Up</h2>
				<ul class="social_login">
					<li>
						<a href="#" class="fb"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#" class="gplus"><i class="fa fa-google-plus icon" aria-hidden="true"></i></a>
					</li>
				</ul>
				 <div class="ui horizontal divider">
				    Or Use Email
				  </div>
				<form class="ui form"> 
				  <div class="field ui left icon input"> 
				  	<i class="fa fa-user icon" aria-hidden="true"></i>
				    <input type="text" name="first-name" placeholder="Your Name">
				  </div>

				  <div class="field ui left icon input"> 
				  	<i class="fa fa-envelope icon" aria-hidden="true"></i>
				    <input type="email" name="email" placeholder="Email">
				  </div>
				  <div class="field ui left icon input"> 
				  	<i class="fa fa-lock icon" aria-hidden="true"></i>
				    <input type="password" name="Password" placeholder="Password">
				  </div>
				  <div class="field left icon input ui left icon input"> 
				  	<i class="fa fa-lock icon" aria-hidden="true"></i>
				    <input type="password" name="Password" placeholder="Password">
				  </div>
				  <div class="field">
				    <div class="ui checkbox">
				      <input type="checkbox" tabindex="0" class="hidden">
				      <label>I have read and accept the Terms of Service and Privacy policy</label>
				    </div>
				  </div>

				  <button class="ui button" type="submit">Create Account</button>
				</form>

				<a  routerLink="/login" >Aleady have an account?</a>
				 
			</div>
		</div>
 	</div>
 </section>