<section class="container-fluid search_jobs">
	<div class="container"> 
		<form class="ui form "> 
		  	<div class="inline fields">
		  		<div class="three wide field"> 
			      	<p><strong>1,306</strong> jobs Avilable</p>
			    </div>

			    <div class="four wide field"> 
			      <input type="text" placeholder="Job title,or compny">
			    </div>
			    <div class="four wide field">
			      <input type="text" placeholder="City">
			    </div> 
			    
			    <button class="ui button" type="submit">Search</button>
			    
		  	</div>
		</form> 
	</div>
</section>