<section class="container-fluid search_jobs">
    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSearch(f)" class="ui form ">
            <div class="inline fields">
                <div class="three wide field">
                    <p><strong>{{store.filterJobs.length}}</strong> jobs Avilable</p>
                </div>

                <div class="four wide field">
                    <input [(ngModel)]="title" name="title" type="text" placeholder="Job title,or compny">
                </div>
                <div class="four wide field">
                    <input [(ngModel)]="city" name="city" type="text" placeholder="City">
                </div>

                <button class="ui button" type="submit">Search</button>

            </div>
        </form>
    </div>
</section>