<section class="container-fluid cv_search">
    <div class="container">
        <app-header></app-header>
    </div>
</section>
<app-search-cv></app-search-cv>
<section class="cv_container container-fluid">
    <!--  ui loading form -->
    <div class="container inner">
        <div class="wrapper row">
            <div class="filter block col-md-3">
                <div class="block_inner">
                    <div class="ui accordion">
                        <div class="title active">
                            <i class="dropdown icon"></i> Country
                        </div>
                        <div class="content active">

                            <ul>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>All</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>Sri Lanka</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>India</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>Australia</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>England</label>
                                    </div>
                                </li>
                                <li class="select_more">
                                    <div class="ui form">
                                        <div class="field">
                                            <select>
									      <option value="">Select More</option>
									      <option value="1">UAE</option>
									      <option value="0">Ireland</option>
									    </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="title active">
                            <i class="dropdown icon"></i> City
                        </div>
                        <div class="content active">

                            <ul>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>All</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>Colombo</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>Delhi</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>Melbourne</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="country">
                                        <label>London</label>
                                    </div>
                                </li>
                                <li class="select_more">
                                    <div class="ui form">
                                        <div class="field">
                                            <select>
									      <option value="">Select More</option>
									      <option value="1">Dubai</option>
									      <option value="0">Bangkok</option>
									    </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i> Job Role
                        </div>
                        <div class="content">

                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i> Industry
                        </div>
                        <div class="content">

                        </div>
                    </div>
                    <button class="ui button reset_filter">Reset Filter</button>
                </div>
            </div>
            <div class="cv_list block  col-md-6 padding0">
                <div class="block_inner">
                    <ul *ngIf="applicationList">
                        <li *ngFor="let cv of applicationList" class="cv">
                            <div class="head">

                                <div class="profile_pic">
                                    <img style="width:100%" [src]="cv.image" />
                                </div>

                                <div class="emp_details">
                                    <div class="wrapper">
                                        <div class="emp_details_inner">
                                            <ul>
                                                <li class="emp_name">{{cv.name}}</li>
                                                <li class="designation">Software Engineer</li>
                                                <li class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{cv.address}}</li>
                                            </ul>
                                        </div>
                                        <button [routerLink]="'/cv-view/'+cv.uid" class="ui button view_cv">View CV</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="description">
                                        <!-- {{job.cover_letter}} -->
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="google_adds block hidden-xs-down hidden-sm-down col-md-3">
                <div class="block_inner">
                    <h3>Google Ads</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>