@import '../../app.component';


.employer-dashbaord{
	padding: 50px 0;

	.inner{

		.wrapper{
			
			.title{
				text-align: center;
				width: 100%;
				h2{
					font-weight: 500;

					span{
						color: $dafault_color;
					} 
				}

				.action_btn{
					button{
						letter-spacing: 0;
						text-transform: inherit;
						font-weight: 300;
					}
				}
			}

			.jobs-container{
				padding: 15px;
				background: #fff;
				margin-top: 30px;
				width: 100%;
				
				

				.job_table{
				 	thead{

				 		th{
				 			background: #13c185;
				 			color: #fff;
				 			font-weight: 400;
				 			padding: 20px 15px;
				 		}
				 		
				 	}

				 	tbody{

				 		tr{
				 			background: #f6f6f6;
							
				 			&:nth-child(2n){
				 				background: #fff;
				 			} 
				 		}
				 		td{
				 			vertical-align: middle;
				 			padding: 20px 15px;

				 			a.action_btns{
								display: block;
				 			}

				 			button{
				 				letter-spacing: 0;
    							font-size: $default_font_size - 1;
    							text-transform: inherit;
    							font-weight: 300;
				 			}
				 		}
				 	}
				}
			}
		}
	}
}