 <section class="container-fluid dashbaoard">
 	<div class="container">
		<app-header></app-header>
	</div> 
</section>
<app-search-cv></app-search-cv>

<section class="container-fluid employer-dashbaord">
	<div class="container inner">
		<div class="row wrapper">
			<div class="title">
				<h2>Hello <span>Nipuna</span></h2>
				<p>From your account dashboard you can view, add and edit your jobs, View jobs applicatons and edit your account details.</p>
				<div class="action_btn">
					<button class="ui button">Account Settings</button>
					<button class="ui button">Post a Job</button> 
				</div>
			</div>
			<div class="jobs-container">
				<table class="ui single line table job-ta">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Registration Date</th>
				      <th>E-mail address</th>
				      <th>Premium Plan</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>John Lilki</td>
				      <td>September 14, 2013</td>
				      <td>jhlilk22@yahoo.com</td>
				      <td>No</td>
				    </tr>
				    <tr>
				      <td>Jamie Harington</td>
				      <td>January 11, 2014</td>
				      <td>jamieharingonton@yahoo.com</td>
				      <td>Yes</td>
				    </tr>
				    <tr>
				      <td>Jill Lewis</td>
				      <td>May 11, 2014</td>
				      <td>jilsewris22@yahoo.com</td>
				      <td>Yes</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			
			<p></p>
		</div>
	</div>
</section>

<app-footer></app-footer>