<section class="container-fluid dashbaoard">
    <div class="container">
        <app-header></app-header>
    </div>
</section>
<app-search-cv></app-search-cv>

<section class="container-fluid employer-dashbaord">
    <div class="container inner">
        <div class="row wrapper">
            <div class="title">
                <h2>Hello <span>{{authStore.auth.name}}</span></h2>
                <p>From your account dashboard you can view, add and edit your jobs, View jobs applicatons and edit your account details.</p>
                <div class="action_btn">
                    <button class="ui button">Account Settings</button>
                    <button routerLink="/jobs/post-job" class="ui button">Post a Job</button>
                </div>
            </div>
            <div class="jobs-container">
                <table class="ui single line table job_table">
                    <thead>
                        <tr>
                            <th>Jobs</th>
                            <th>Job Expires</th>
                            <th>Filled?</th>
                            <th>Date Posted</th>
                            <th>Closing Date</th>
                            <th>Applications</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let job of myPostedJobs">
                            <td>{{job.title}}</td>
                            <td>{{dateHelper.getDateString(job.close_date)}}</td>
                            <td>
                                <div class="ui toggle checkbox">

                                    <input (click)="filled(job.id, job.isFiled)" [checked]="job.isFiled" type="checkbox" name="public">
                                    <label></label>
                                </div>
                            </td>
                            <td>{{dateHelper.getDateString(job.meta.date)}}</td>
                            <td>{{dateHelper.getDateString(job.close_date)}}</td>
                            <td>
                                <Button [routerLink]="'/search-cv/'+job.id" class="ui button">Show ({{applyLength[job.id]}} )</Button>
                            </td>
                            <td>
                                <a href="#" class="action_btns">
                                    <i class="fa fa-pencil icon" aria-hidden="true"></i> Edit Job
                                </a>
                                <a (click)="delete(job.id)" class="action_btns">
                                    <i class="fa fa-pencil icon" aria-hidden="true"></i> Delete Job
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p></p>
        </div>
    </div>
</section>

<app-footer></app-footer>