<section class="container-fluid login">
    <div class="container">
        <app-header></app-header>

        <div class="row">
            <div class="login block wow fadeInUp">
                <h2>Login</h2>
                <ul class="social_login">
                    <li>
                        <a href="#" class="fb"><i class="icon-facebook icon" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a (click)="gmailLogin()" class="gplus"><i class="icon-google-plus icon" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="ui horizontal divider">
                    Or Use Email
                </div>
                <form #f="ngForm" (ngSubmit)="emailLogin(f)" class="ui form">

                    <div class="field ui left icon input">
                        <i class="icon-envelope icon" aria-hidden="true"></i>
                        <input [(ngModel)]="email" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="field ui left icon input">
                        <i class="icon-padlock icon" aria-hidden="true"></i>
                        <input [(ngModel)]="password" type="password" name="Password" placeholder="Password">
                    </div>

                    <button class="ui button " type="submit ">Login</button>

                </form>
                <a routerLink="/login ">Forgotten Your Password?</a>
                <p>Don’t have an account? <a routerLink="/sign-up ">Create an account</a>.</p>

            </div>
        </div>
    </div>
</section>