<h3>Portfolio</h3>

<form action="" class="ui form">
	<div class="field">
		<label for="title">Portfolio Title</label>
 		<input type="text" name="title"  [(ngModel)]="UserSelectedPortfolioData.title"  (ngModelChange)="changeDetails($event)" >
 	</div>

 	<div class="field">
		<label for="subtitle">Portfolio Subtitle</label>
 		<input type="text" name="subtitle" [(ngModel)]="UserSelectedPortfolioData.subtitle"  (ngModelChange)="changeDetails($event)"  >
 	</div>

 
 	<!-- <div class="ui checkbox">
	  	<input type="checkbox" name="example" [(ngModel)]="UserSelectedSkillData.show_description"  (ngModelChange)="changeDetails($event)">
	    <label>Show Description</label>
	</div> -->
 

 	<div class="field">
	    <label for="description">Description</label>
	    <textarea name="description" [(ngModel)]="UserSelectedPortfolioData.description"  (ngModelChange)="changeDetails($event)" ></textarea>
	</div>
	
	<a href="javascript:void(0)" (click)="removePortfolio()">Remove {{UserSelectedPortfolioData.title}} </a>
	<button class="ui button" (click)="addPortfolio()">Add Portfolio</button>
	 
 
 </form>  