<section class="container-fluid dashbaoard">
    <div class="container">
        <app-header></app-header>
    </div>
</section>
<section>
    <div class="container">
        <div style="background:white">

            <div style="padding: 4%">
                <div class=" row ">
                    <div class="col-12 ">
                        The job application for
                    </div>
                </div>

                <div class="row ">
                    <div class="col-6 ">
                        <select class="form-control ">
                    <option>Default select</option>
                  </select>
                    </div>
                    <div class="col-6 ">
                        <select class="form-control ">
                    <option>Default select</option>
                  </select>
                    </div>
                </div>

                <div class="ui segment">
                    <div class="row">
                        <div class="col-2">
                            <img class="job-image" src="https://firebasestorage.googleapis.com/v0/b/test-11bca.appspot.com/o/jobs_images%2FXkofabKHNHdrZvDL701IMTzbBOz11524398227700?alt=media&token=6515ddba-c855-460d-ade1-19c91f5e7256" />
                        </div>
                        <div class="col-5" style="line-height: auto">
                            <h1 class="job-name">Name </h1>
                            <h5>Email</h5>
                        </div>
                        <div class="col-5">
                            <button class="ui button green">
                            Edit
                          </button>
                            <button class="ui button blue">
                            Notes
                          </button>
                            <button class="ui button blue">
                            Details
                          </button>
                            <button class="ui button blue">
                            X
                          </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            Application : <br/>
                            <select class="form-control ">
                            <option>Default select</option>
                          </select>
                        </div>
                        <div class="col-6">
                            Rating (out of 5) : <br/>
                            <input type="number" class="form-control">
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<app-footer></app-footer>