@import '../../app.component';
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800|Montserrat:300,400,500,600,700,800,900|Oswald:300,400,500,600,700|Roboto+Slab:300,400,700');
.cv_builder{ 
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 100;
}
:host >>> app-header {


	.header_top{
		padding: 20px 0; 

		.logo{
			a{ 
				font-size: $default_font_size * 2;
			}
		}

		button{
			font-size: $default_font_size - 2;
		}
	}  
} 

:host >>> .editable {
	h3{
		color: rgba(0,0,0,.87);
		padding-bottom: 5px;
		border-bottom: 1px solid;
		text-align: center;
	}

	h1,h2,h3,p{
		color: rgba(0,0,0,.87);
		text-align: center; 
	}

	.block{
		background: rgba(246, 246, 246, 0.27);
    	padding: 10px;
    	min-height: 150px;
    	margin-top: 30px;

    	h4{
    		color: rgba(0,0,0,0.87);
    	}

    	.content{
    		color: rgba(0,0,0,0.87);
			
    		ul{
    			padding-left: 0;
    			margin-top: 10px;
				border-top: 1px #dfdfdf solid;


    			li{
    				list-style: none;
					font-size: 20px;
					font-weight: 600;
					padding: 5px;
					border-bottom: 1px #dfdfdf solid;
					cursor: pointer;

					&:hover{
						background: rgba(255, 255, 255, 0.32);
					}
    			}
    		}

    		.colors{
    			width: 52px;
    			height: 20px;
    			margin-top: 10px;
    			float: left;
    			margin-right: 10px;
    			cursor: pointer;
    			border: 2px transparent solid;

    			&.selected{
					border: 2px solid; 
    			}

    			span{
    				width: 24px;
    				height: 100%;
    				float: left;
    			}
    		}
    	}
	}

	a{
		color: rgba(0,0,0,.87);
		margin-bottom: 10px;
		display: block;

		&:hover{
			text-decoration: underline;
		}
	}
}

.c-inline-editor{
	display: none;
}
section.cv_builder_wrapper{
	@include calc('height', '100% - 73px');
	padding: 0;
	display: flex;
	padding-top: 73px; 

	.left_content{
		width: 250px;
		height: 100%;
		background: $dafault_color;
		float: left;
		padding: 15px;
		position: fixed;
		overflow-y: scroll;

		.editable{ 
			position: absolute;
			width: 100%;
			left: -250px;
			padding: 0 15px;
			transition: all 0.3s ease;
			height: 100%;
			background: inherit;
  
			&.active{ 
				left: 0;
			}
		}
	}

	.right_content{
		@include calc('width', '100% - 250px'); 
		height: 100%;
		float: left;
		margin-left: 250px;


		.cv_layout{

			&.default 		{ font-family: inherit;}
			&.oswald 		{ font-family: 'Oswald',sans-serif;}
			&.montserrat 	{ font-family: 'Montserrat',sans-serif;}
			&.roboto_slab 	{ font-family: 'Roboto Slab', serif;}
			&.exo 	{ font-family: 'Exo 2', sans-serif; }


			display: block;
			width: 950px;
			height: 1329px; 
			border: 1px #cacaca solid;
			margin: 80px auto;
			padding: 30px; 
			-webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.12);
			-moz-box-shadow:    0px 2px 9px 0px rgba(50, 50, 50, 0.12);
			box-shadow:         0px 2px 9px 0px rgba(50, 50, 50, 0.12);
			background: #fff;  
			color: #000;

			i{
				color: inherit;
			}

			h3{
				border-color: inherit;
			}

			.header{
				padding: 20px;
				border: 1px #cacaca solid;
				margin-bottom: 30px; 
				font-family: inherit;
				color: inherit;

				$profile_img: 120px;
		
				.user_img{
					width: $profile_img;
					height: $profile_img;
					border: 1px #cacaca solid;
					background: #eee;
					border-radius: 50%;
					float: left;

				}
				
				.user_details{
					padding-left: 30px;
					margin-top: 10px;
					float: left;
					@include calc('width', '100% - '+$profile_img); 
					color: inherit;
					font-family: inherit;
						
					.name{
						color: inherit;
						font-family: inherit;
						*{
						 	font-size: 30px;
							color: inherit;
							font-weight: 500;
							font-family: inherit;
						}
					}

					ul.contact_details{ 
						padding-left: 0;
						margin: 10px 0 0 0;
						overflow: hidden;
						color: inherit;

						li{
							list-style-type: none; 
							width: 33.33%;
							float: left;
							color: inherit; 

							&:first-child{
								width: 100%;
								margin-bottom: 5px;
							}

						}
					}
				}
				
			}

			.body{
				font-family: inherit;
				color: inherit;

				.row{
					font-family: inherit;
					color: inherit;

					.col-md-6{
						font-family: inherit;
						color: inherit;

					}
				}

				.cv_block{
					font-family: inherit;
					color: inherit;
					margin-top: 40px;
					min-height: 250px; 

					&:first-child{
						margin-top: 0;
					}

					.title{
						margin-bottom: 10px;
						font-family: inherit;
						color: inherit;

						h3{
							font-weight: 500;
						    border-bottom: 4px #6a6969 solid;
						    font-size: 24px;
						    margin-bottom: 5px;
						    padding-bottom: 5px;
						    font-family: inherit;
						    color: inherit;
						    border-color: inherit;
						}

						a{
							float: right;
							font-size: $default_font_size - 1;

						}

					} 

					.content{
						font-family: inherit;
						color: inherit;

						.blk{
							cursor: pointer;
							font-family: inherit;
							color: inherit;

							*{
								color: inherit;
							}

							span:first-child{
								font-family: inherit;
							}

							&:hover, &:focus{
								background: #f7fff9;
							}
						}

						.edu_{
							overflow: hidden;
							padding: 10px;
							border-bottom: 1px #d5d5d5 solid; 
							
							&:last-child{
								border: 0;
							}
 
							span.edu_title{ 
								font-size: $default_font_size + 4;
								font-weight: 500;
								margin-bottom: 3px;

							}
							span.edu_company_name{ 
								font-size: $default_font_size;
								font-weight: 300;
								margin-bottom: 3px;
								margin-right: 10px;
							}

							span.edu_location{
								font-size: $default_font_size - 2;
								font-weight: 300;
								float: right;

							}

							.edu_desc{
								width: 100%;
								font-size: $default_font_size - 1;
								font-weight: 300;
								font-weight: 300;
							    line-height: 17px;
							    margin-top: 5px;
							}
						}

						.exp_{
							overflow: hidden;
							padding: 10px 0;
							border-bottom: 1px #d5d5d5 solid;
							
							&:last-child{
								border: 0;
							}


							span.exp_title{ 
								font-size: $default_font_size + 4;
								font-weight: 500;
								margin-bottom: 3px;
								display: block;

							}
							span.exp_company_name{ 
								font-size: $default_font_size;
								font-weight: 300;
								margin-bottom: 3px;
								margin-right: 10px;
							}

							span.exp_company_location{
								font-size: $default_font_size - 2;
								font-weight: 300;
								float: right;

							} 

							.exp_desc{
								width: 100%;
								font-size: $default_font_size - 1;
								font-weight: 300; 
							    line-height: 17px;
							    margin-top: 5px;
							}
						}

						.skills_{
							overflow: hidden;
							padding: 5px;

							span.skill_name{
								float: left;
							}

							span.skill_rating{
								float: right;
							}

							span.skill_desc{
								width: 100%;
								display: block;
								font-size: $default_font_size - 1;
								font-weight: 300; 
							    line-height: 17px; 
							}
						}

						.qualifications_{
							overflow: hidden;
							padding: 5px;

							span.q_name{ 
								width: 100%;
								display: block;
								font-size: $default_font_size + 3;
								font-weight: 500;

								i{
									vertical-align: middle;
								    margin-right: 7px;
								    font-size: 22px;
								}
							}

							span.q_desc{
								width: 100%;
								display: block;
								font-size: $default_font_size - 1;
								font-weight: 300; 
							    line-height: 17px; 
							    padding-left: 30px;
							}
						}


						.portfolio_{
							overflow: hidden;
							padding: 10px 0;

							span.p_title{
								font-size: $default_font_size + 4;
								font-weight: 500;
								width: 100%;
								display: block;
								margin-bottom: 3px;
							}

							span.p_subtitle{
								width: 100%;
								display: block;
								font-size: $default_font_size;
								font-weight: 400;
								margin-bottom: 3px; 
							}

							.p_desc{
								width: 100%;
								display: block;
								font-size: $default_font_size - 1;
								font-weight: 300; 
							}
						}
					}
				}
			}

		}
	}
}