<footer class="container-fluid footer">
	<div class="container">
		<div class="row navigation_row">
			<div class="col-md-4 left">
				<h4>TalentLiken</h4>
				<ul>
					<li><a href="">About us</a></li>
					<li><a href="">Privacy policy</a></li>
					<li><a href="">Cookies policy</a></li>
					<li><a href="">Terms and Conditions</a></li> 
				</ul>
			</div>
			<div class="col-md-4 mid footer_block">
				<h4>Jobseeker</h4>
				<ul>
					<li><a href="">Jobseeker login</a></li>
					<li><a href="">Contact us</a></li>
					<li><a href="">Help</a></li>
					<li><a href="">Vistual CV builder</a></li> 
					<li><a href="">Video Resume</a></li> 
				</ul>
			</div>
			<div class="col-md-4 right footer_block"> 
				<h4>Employer</h4>
				<ul>
					<li><a href="">Advertise a job</a></li>
					<li><a href="">Recruiter login</a></li> 
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<p>&copy; All Rights Reserved 2018</p>
</div>